<!-- views/resume_templates/template1.ejs -->
<% include ../partials/head %>
<div class="card card-container" width="210" height="297"
    style="background-image: linear-gradient(to bottom,white,blue,black);">
        <h5><ul class="nav navbar-nav navbar-right">
            <li><a><span class="glyphicon glyphicon-user"></span>
                    <%= user.fName %>
                    <%= user.lName %></a></li>
            <li><a><span class="glyphicon glyphicon-send"></span>
                    <%= user.address %></a></li>
            <li><a><span class="glyphicon glyphicon-envelope"></span>
                    <%= user.email %></a></li>
            <li><a><span class="glyphicon glyphicon-earphone"></span>
                    <%= user.phone %></a></li>
        </ul></h5>

    <center>
        <div class="transcont">

            <div class="row">
                <div class="col-sm-2">
                    <h1><span class="glyphicon glyphicon-file"> </span></h1>
                </div>
                <div class="col-sm-10">
                    <h1 align="left">Description...</h1>
                    <%= user.description %>
                </div>
            </div>
        </div>
    </center>
    <center>
        <div class="transcont">
            <div class="row">
                <div class="col-sm-2">
                    <h1><span class="glyphicon glyphicon-education"> </span></h1>
                </div>
                <div class="col-sm-10">
                    <h1 align="left">Education...</h1>
                    <% user.education.forEach(function(education) { %>
                    <h4>
                        <a href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                            <%= education %>
                        </a>
                    </h4>
                    <% }); %>
                </div>
            </div>
        </div>
    </center>
    <center>
        <div class="transcont">
            <div class="row">
                <div class="col-sm-2">
                    <h1><span class="glyphicon glyphicon-ok"> </span></h1>
                </div>
                <div class="col-sm-10">
                    <h1 align="left">Skills...</h1>
                    <% user.skills.forEach(function(skills) { %>
                    <h4>
                        <a href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                            <%= skills %>
                        </a>
                    </h4>
                    <% }); %>
                </div>
            </div>
        </div>
    </center>
</div>